{% extends '_base.html' %}
{% load static %}

{% load crispy_forms_tags %}

<link rel="stylesheet" type="text/css" href="{% static 'css/base_graphs.css' %}">

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/@dmester/sffjs@1.16.1/dist/stringformat.min.js"></script>


<div class="row flex-xl-nowrap">

  <!-- SIDEBAR -->
  <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
    <p>Hello User,</p>

    <p>Please enter the search string you would like to look for in the dictionaries.</p>

   <!-- <form action="/graphs/request_graph/" method="GET" id="get_form">
      {% csrf_token %}
      {{ form | crispy }}
    </form>

   <div style="text-align:center">
      <button type="button" class="btn btn-primary btn-lg" onclick="getPlot()">Generate Graph</button>
      <p></p>
      <p style="font-size:x-small">*Note, graph generation may take a couple of seconds.</p>
    </div>
  </div> -->


  <!--<form action="" method="GET">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form> -->
 
<form method="GET" id="get_form">
  Question: <input type="text" name="plot_name"><br/>
  <input type="submit" value="Submit" />
</form><br/><br/>
</div>


  <!-- MAIN CONTENT -->
  <!-- <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main"> -->
  <!-- <div class="welcome_image">
    <img src="{% static 'images/harmonization.jpg' %}" width=450 center>
  </div> -->

  <!-- PLOTS -->
  <div>
    <div>

      <div>
      <p>Dictionary Table  </p>
      <table style="width:1000px" id = "data", class="table table-striped">
      <!-- <table style="width:220px", class="table table-striped", id = "data"> -->
          <thead>
          <tr>
              <th>cohort</th>
              <th>var_name</th>
              <th>form_name</th>
              <th>section_name</th>
              <th>field_type</th>
              <th>field_label</th>
              <th>field_choices</th>
              <th>field_min</th>
              <th>field_max</th>

          </tr>
          </thead>
          <tbody>
          
          {% if items %}
          {% for i in items %}
          <tr>
            
              <th>{{i.cohort}}</th>
              <th>{{i.var_name}}</th>
              <th>{{i.form_name}}</th>
              <th>{{i.section_name}}</th>
              <th>{{i.field_type}}</th>
              <th>{{i.field_label}}</th>
              <th>{{i.field_choices}}</th>
              <th>{{i.field_min}}</th>
              <th>{{i.field_max}}</th>
          

          </tr>
          {% endfor %}
          {% endif %}
          </tbody>
      </table> 
    </div>
    <br>

    <script>
      $(document).ready(function(){
    $('#data').after('<div id="nav"></div>');
    var rowsShown = 4;
    var rowsTotal = $('#data tbody tr').length;
    var numPages = rowsTotal/rowsShown;
    for(i = 0;i < numPages;i++) {
        var pageNum = i + 1;
        $('#nav').append('<a href="#" rel="'+i+'">'+pageNum+'</a> ');
    }
    $('#data tbody tr').hide();
    $('#data tbody tr').slice(0, rowsShown).show();
    $('#nav a:first').addClass('active');
    $('#nav a').bind('click', function(){

        $('#nav a').removeClass('active');
        $(this).addClass('active');
        var currPage = $(this).attr('rel');
        var startItem = currPage * rowsShown;
        var endItem = startItem + rowsShown;
        $('#data tbody tr').css('opacity','0.0').hide().slice(startItem, endItem).
        css('display','table-row').animate({opacity:1}, 300);
    });
});
    </script>

    <!-- https://realpython.com/django-and-ajax-form-submissions/ -->


   
      <!-- <img src=/getsbdata/ width="1000"> -->
    </div>
  </div>
  </main>
  
  <!-- TODO: Reference Bar -->
  <div class="d-none d-xl-block col-xl-2 bd-toc">
  
    <ul class="section-nav">
    </ul>
  
  </div>
</div>
{% endblock content %}