{% extends '_base.html' %}
{% load static %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/@dmester/sffjs@1.16.1/dist/stringformat.min.js"></script>
<script src="{% static 'js/base_graphs.js' %}"></script>

<div class="welcome_image">
  <img src="{% static 'images/harmonization.jpg' %}">
</div>

<div class="graph-detail">
  <div class="reviews-detail">
    <h3>Select the features below and click Generate Graph.</h3>
    Note, graph generation may take a couple of seconds.
  </div>
  <br>

  <!-- https://realpython.com/django-and-ajax-form-submissions/ -->

  <form action="/graphs/request_graph/" method="GET" id="get_form">
    {% csrf_token %}
    {{ form }}
    <!-- TODO: Pretify the form (sidebar maybe) -->
    <!-- <input type="submit" value="Generate Graph"> -->
  </form>

  <!-- TODO: Center button -->
  <div style="text-align:center">
    <button onclick="getPlot()">Generate Graph</button>
  </div>

  <div id="graphs-div">
    <!-- <img src=/getsbdata/ width="1000"> -->
  </div>
</div>

{% endblock content %}