{% extends '_base.html' %}
{% load static %}

{% block content %}

<script>
  function getPairPlot() {
    var new_graph = ''
    new_graph +='<div class="plot">'
    new_graph +=
      '<div class="graph-img"><img src=/graphs/getplot/getpairplot/ width="1000"></div>'
    new_graph +='</div>'
    document.getElementById("graphs-div").innerHTML += new_graph
  }

</script>

<img class="welcome-image" src="{% static 'images/harmonization.jpg' %}">
<div class="graph-detail">

  <div class="reviews-detail">
    <h3>Select the features below and click Generate Graph.</h3>
    Note, graph generation may take a couple of seconds.
  </div>
  <br>

  <div style="text-align:center">
    <button onclick="getPairPlot()">Generate Graph</button>
  </div>

  <div id="graphs-div">
    <!-- <img src=/getsbdata/ width="1000"> -->
  </div>
</div>

{% endblock content %}