{% extends '_base.html' %}
{% load static %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/@dmester/sffjs@1.16.1/dist/stringformat.min.js"></script>
<script src="{% static 'js/base_graphs.js' %}"></script>

<div class="welcome_image">
  <img src="{% static 'images/harmonization.jpg' %}">
</div>

<div class="graph-detail">
  <div class="reviews-detail">
    <h3>Select the features below and click Generate Graph.</h3>
    Note, graph generation may take a couple of seconds.
  </div>
  <br>

  <div style="text-align:center">
    <button onclick="getPairPlot()">Generate Graph</button>
  </div>

  <div id="graphs-div">
    <!-- <img src=/getsbdata/ width="1000"> -->
  </div>
</div>

{% endblock content %}