asgiref==3.2.7
django==3.0.7
djangorestframework==3.11.0
pytz==2020.1
sqlparse==0.3.1
django-rest-auth==0.9.5
requests==2.23.0
psycopg2-binary==2.8.4
numpy==1.18.3
matplotlib
pandas==1.0.3
seaborn
pillow==6.2.2
jupyter==1.0.0
ipython==7.31.1
django-extensions==3.0.3
statsmodels
numpy==1.18.3
tornado==6.1.0
sklearn
bambi
arviz
imbalanced-learn
pymer4
rpy2