{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
<h1>Welcome</h1>
{% if user.is_authenticated %}
  <p>Hello {{ user.email }}!</p>
  <p>Please click on the links in the top navigation bar to perform the desired action.</p>
  <p><a href="{% url 'graphs' %}">Click here to generate graphs</a></p>
  <p><a href="{% url 'account_logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in.</p>
  <p>You must log in to interact with this website.</p>
  <p></p>
  <p><a href="{% url 'account_login' %}">Log In</a> |
  <a href="{% url 'account_signup' %}">Sign Up</a></p>
{% endif %}
{% endblock content %}