{% extends '_base.html' %}
{% load static %}

{% load crispy_forms_tags %}

{% block title %}Dataset Upload{% endblock title %}

{% block content %}
<h1>Dataset Upload</h1>
{% if user.is_authenticated %}
<p>Hello {{ user.email }}!</p>
<p>Use this interface to upload the datasets to the website.</p>
<p>If you observe an error here, it is because the data dictionary provide does not match with the dictionary expected.
</p>

<form action="" method="POST" enctype="multipart/form-data" id="post_form">
    {% csrf_token %}
    {{ form | crispy }}
    <p></p>
    <!-- <button type="submit">Upload</button> -->
    <button type="submit" class="btn btn-primary btn-lg">Upload</button>
    <p></p>
</form>

<div class="text-center">
    <p><a href="{% url 'graphs' %}">Click here to generate graphs</a></p>
    <p><a href="{% url 'account_logout' %}">Log Out</a></p>
</div>

<div class="csv-sample">
    <div class="bd-example bd-example-images">
        <div class="text-center">
            <img src="{% static 'images/flowers_csv_sample.PNG' %}" class="img-fluid rounded mx-auto d-block"
                alt="Flowers Dataset CSV Sample">
            <p>Flowers Dataset Sample</p>
        </div>
    </div>
</div>

<div class="csv-sample">
    <div class="bd-example bd-example-images">
        <div class="text-center">
            <img src="{% static 'images/unm_csv_sample.PNG' %}" class="img-fluid rounded mx-auto d-block"
                alt="Flowers Dataset CSV Sample">
            <p>UNM Dataset Sample*</p>
        </div>
    </div>
</div>

<div class="text-center">
    <p>* Not from real data</p>
</div>

{% else %}
<p>You are not logged in.</p>
<p>You must log in to interact with this website.</p>
<p></p>
<p><a href="{% url 'account_login' %}">Log In</a> |
    <a href="{% url 'account_signup' %}">Sign Up</a></p>
{% endif %}
{% endblock content %}